html {
    background: url(/resources/img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.PageHeader {
    margin-top: 0.5%;
    margin-left: 0.25%;
    margin-bottom: 1%;
    padding-top: 0.25%;
    height: 10%;
    width: 99.5%;

    background: #5cb85c;
    border-radius: 15px;
    color: #fff;

    font-size: 45px;
    font-family: 'Trocchi', serif;
    font-weight: normal;
}

.CafeContent {

    margin-left: 0.25%;
    margin-bottom: 1%;
    position: absolute;
    width: 75%;
    font-family: 'Trocchi', serif;
    font-weight: normal;
    background: rgba(211, 211, 211, 0.8);
    border-radius: 20px;
}

.CafeTable {
    border-radius: 20px;
}

.CafeName {
    padding-left: 20px;
    font-size: 40px;
}

.CafePhoto {
    border-radius: 80px;
    background: #5cb85c;

}

.CafeAddress {
    text-align: center;
    font-size: 40px;
}

.CafeLoad {
    text-align: center;
    font-size: 40px;
}

.PageMenu {
    margin-top: 0.25%;
    margin-left: 77%;
    position: fixed;
    width: 21%;
}

.MenuHeader {
    border: 4px;
    text-align: right;
    background: lightgray;
    font-family: serif;
    border-radius: 10px;
    padding-right: 5px;
}

.Footer {
    padding-top: 500px;
    color: gray;
    font-size: 25px;
    background-color: rgba(92, 184, 92, 0.7);
    width: 100%;
    height: 30px;
}

.MenuButton {
    padding-left: 5px;
    margin: 1%;
    color: #fff;
    background-color: rgba(92, 184, 92, 0.7);
    border-color: #4cae4c;
    border-radius: 0 10px;
    font-family: serif;
    font-size: 20px;
}

.MenuButton:focus,
.MenuButton.focus {
    color: #fff;
    background-color: #449d44;
    border-color: #255625;
}

.MenuButton:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.MenuButton:active,
.MenuButton.active,
.open > .dropdown-toggle.MenuButton {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.MenuButton:active:hover,
.MenuButton.active:hover,
.open > .dropdown-toggle.MenuButton:hover,
.MenuButton:active:focus,
.MenuButton.active:focus,
.open > .dropdown-toggle.MenuButton:focus,
.MenuButton:active.focus,
.MenuButton.active.focus,
.open > .dropdown-toggle.MenuButton.focus {
    color: #fff;
    background-color: #398439;
    border-color: #255625;
}

.MenuButton:active,
.MenuButton.active,
.open > .dropdown-toggle.MenuButton {
    background-image: none;
}

.MenuButton.disabled:hover,
.MenuButton[disabled]:hover,
fieldset[disabled] .MenuButton:hover,
.MenuButton.disabled:focus,
.MenuButton[disabled]:focus,
fieldset[disabled] .MenuButton:focus,
.MenuButton.disabled.focus,
.MenuButton[disabled].focus,
fieldset[disabled] .MenuButton.focus {
    background-color: rgba(92, 184, 92, 0.7);
    border-color: #4cae4c;
}

.MenuButton .badge {
    color: #5cb85c;
    background-color: #fff;
}

